.torrents-list-container{
  border: 1px solid lightslategray;
}

.list-header {
  background-color: #212121;
  color: white;
}

.torrent-list-item:nth-child(2n){
  background-color: #f3f3f3;
}

h1 {
  margin: 0;
  padding: 3px 0 3px 3px;
}

p {
  margin: 0;
  padding: 3px 0 3px 6px;
}

.date{
  float: right;
  margin-right: 8px;
}

