.torrent-form-container{
  margin-top: 25px;
}

.torrent-inputs{
  width: 240px;
}

md-input-container {
  display: block;
}

md-select{
  margin-top: 20px;
}

.file-upload{
  display: block;
  margin: 10px 0;
}

.send-button{
  margin: 15px auto;
  display: block;
  border: 1px gray solid;
}
