<div class="widget-container">

  <div *ngIf="!isSignedIn">
    <div class="inputs">
      <md-input-container>
        <input mdInput [(ngModel)]="name" placeholder="Login" type="text" required>
      </md-input-container>
      <md-input-container>
        <input mdInput (keyup.enter)="onLogin()" [(ngModel)]="password" placeholder="Password" type="password" required>
      </md-input-container>
    </div>
    <button md-button class="send-button" (click)="onLogin()">Login</button>
  </div>

  <div *ngIf="isSignedIn && user">
    <h1>{{user.name}}</h1>
    <p>{{user.email}}</p>
    <p>{{user.moreInformation}}</p>
    <button md-button class="send-button" (click)="onLogOut()">Logout</button>
  </div>
</div>
